@charset "utf-8";

@media screen and (max-width: 1440px) {

  /* header {
    position: fixed;
    top: 8px;
    left: -276px;
    width: 100%;
    z-index: 99;
    transition: 0.3s;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  } */


  /* 프로필 경력사항 */
  .info-grid {
    gap: 80px;
    padding: 60px 80px;
    flex-direction: row;
  }

  .info-box {
    max-width: 200px;
  }

  /* 코딩부분 */

  .content-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }

  .image-gallery {
    gap: 50px;
  }

  /* 카드 */
  .custom-nav-buttons {
    position: absolute;
    bottom: 24%;
    right: 100px;
    display: flex;
    gap: 10px;
  }

}


/* 프로필 경력사항  */

@media screen and (max-width: 1024px) {

  /* header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    transition: all 0.3s ease;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  } */

  .intro-two .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 45px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .image-box {
    flex: 1 1 auto;
    width: 350px;
  }

  /* 자기소개 경력사항 */

  .info-grid {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: stretch;
    gap: 150px;
    flex-wrap: wrap;
    padding: 80px 110px;
  }

  .info-box {
    min-width: 180px;
    max-width: 230px;
    font-family: 'pretendardR', sans-serif;
    color: #444F5A;
  }

  .info-box h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
  }

  .info-box p {
    margin-bottom: 12px;
    font-size: 0.95rem;
    line-height: 1.0;
    font-weight: 600;
  }

  .info-box p small {
    display: block;
    font-size: 0.8rem;
    color: #666;
    margin-top: 4px;
    line-height: 1.5;
  }

  .text-block h2 {
    font-size: 6rem;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 150px;
    font-family: 'prestendardR';
  }

  .section-title {
    font-size: 6rem;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 150px;
    font-family: 'prestendardR';
  }

  .bottom-text {
    text-align: center;
    flex-direction: row;
    font-size: 1.3rem;
    padding-top: 40px;
    line-height: 1.3;
    color: var(--main-color);
    font-family: 'bookkmjL';
    font-weight: 600;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }


  /* 윀코딩 */

  .tool-skills {
    text-align: left;
    margin-left: 30px;
    margin-top: -100;
    margin-bottom: 100px;
    color: #fff;
    font-family: sans-serif;
  }

  .tool-skills p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .tool-skills .icons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin: 0 5px;
    transition: transform 0.3s ease;
  }


  /* 앱디 */

  .text-block h2 {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.3;
    margin-left: 35px;
    margin-bottom: 50px;
    font-family: 'prestendardSB';
  }


  .app-text h3 {
    font-size: 4rem;
    font-weight: bold;
    color: #F07B3F;
    margin: 5px 0 15px;
  }

  .app-container {
    gap: 60px;
  }

  .app-box {
    flex-direction: column;
    width: 90vw;
    margin: 0 auto 100px auto;
    gap: 40px;
  }

  .app-box.left,
  .app-box.right {
    margin-left: 0;
    margin-right: 0;
  }

  .mockup img {
    width: 40%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .app-text {
    max-width: 100%;
    font-size: 1rem;
  }

  .app-text .meta {
    font-size: 1.2rem;
    color: #aaa;
    margin-bottom: 20px;
  }

  .tags span {
    border: 1px solid #aaa;
    padding: 2px 23px;
    margin-right: 8px;
    font-size: 1.3rem;
    border-radius: 20px;
    display: inline-block;
  }


  .section-title {
    font-size: 4rem;
    margin-bottom: 80px;
    margin-left: 10px;
  }

  .section-title-Detail {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: left;
    margin-left: 24px;
    margin-bottom: 150px;
    font-family: 'prestendardR';
  }

  .section-title-card {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: -10px;
    text-align: center;
    font-family: 'prestendardR';
  }

  /* 세번째 키워드 */

  .inline-pills .row {
    align-items: flex-start;
    gap: px;
  }

  .inline-pills .word {
    font-size: clamp(54px, 5vw, 61px);
    line-height: 1.2;
  }

  .inline-pills .pill {
    width: 25%;
    height: auto;
    aspect-ratio: 4 / 1;
  }

  .inline-pills .pill img {
    height: 100%;
    object-fit: cover;
  }

  .inline-pills {
    padding: 32px 20px;
  }

  /* 네번째 */

  .text-block h2 {
    font-size: 5rem;
    margin-left: 20px;
    text-align: center;
  }

  .tool-skills {
    text-align: center;
    margin-left: 0;
  }

  .tool-skills .icons img {
    width: 35px;
    height: 35px;
  }

  /* 디테일 */

  .panel-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 40px 00px;
  }

  .panel-number {
    font-size: 8rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
    opacity: 0.9;
    transition: all 0.6s ease;
  }

  .accordion-panel:hover .panel-number {
    transform: translateY(-10px);
    opacity: 1;
  }

  .panel-label {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 25px;
    opacity: 0.8;
    transition: all 0.6s ease;
    white-space: nowrap;
  }

  /* 카드 */

  .card-section {
    background-color: #222831;
    color: #fff;
    padding: 250px 40px;
    font-family: 'PretendardB';
    position: relative;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: -130px;
  }

  .section-title-card {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: -150px;
    text-align: center;
    font-family: 'prestendardR';
  }

  .section-title-card .highlight {
    color: #F05454;
  }

  /* 위치조절 */
  .custom-nav-buttons {
    position: absolute;
    bottom: 28%;
    right: 100px;
    display: flex;
    gap: 10px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 35px;
    height: 30px;
    cursor: pointer;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }

}

/* 768 768 768  */

@media screen and (max-width: 768px) {

  .sliding-text {
    font-size: 1.2rem;
    padding-right: 80px;
  }

  .nav-menu {
    padding: 20px;
    gap: 15px;
  }

  .intro-section .title {
    font-size: 4rem;
    flex-direction: row;
    justify-content: center;
  }

  .circle-expand {
    width: 220px;
    height: 70px;
    font-size: 1.3rem;
  }

  .intro-two .container {
    flex-direction: column;
    gap: 30px;
  }

  .text-box h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .image-box {
    width: 80%;
    margin: 0 auto;
  }

  .bottom-text {
    font-size: 1.2rem;
    padding-top: 30px;
    font-family: 'bookkmjL';
    text-align: center;
    flex-direction: row;
    font-size: 1.3rem;
    padding-top: 40px;
    line-height: 1.3;
    color: var(--main-color);
    font-weight: 600;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .info-grid {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: stretch;
    gap: 111px;
    flex-wrap: wrap;
    padding: 80px 110px;
    text-align: center;
  }

  .info-box {
    min-width: 180px;
    max-width: 230px;
    font-family: 'pretendardR', sans-serif;
    color: #444F5A;
  }

  .info-box h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
  }

  .info-box p {
    margin-bottom: 12px;
    font-size: 0.95rem;
    line-height: 1.0;
    font-weight: 600;
  }

  .info-box p small {
    display: block;
    font-size: 0.8rem;
    color: #666;
    margin-top: 4px;
    line-height: 1.5;
  }

  .text-box {
    flex: 1 1 400px;
    min-width: 350px;
    text-align: center;
  }

  .text-box h1 {
    font-size: 4.5rem;
    color: #2c3e50;
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
    padding-left: 5px;
    padding-bottom: 95px;
    font-family: 'prestendardR';
  }

  .text-block h2 {
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 150px;
    font-family: 'prestendardR';
  }

  .image-box img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 400px;
    transform: scaleX(-1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }

  .section-title {
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 150px;
    font-family: 'prestendardR';
  }

  .bottom-text {
    text-align: center;
    flex-direction: row;
    font-size: 1.3rem;
    padding-top: 40px;
    line-height: 1.3;
    color: var(--main-color);
    font-family: 'bookkmjL';
    font-weight: 600;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }


  .project-card {
    background-color: #111;
    color: #fff;
    /* width: 22%; */
    padding: 35px 30px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  }

  .project-card img {
    width: 100%;
    height: 350px;
    border-radius: 6px;
    margin: 10px 0;
  }

  /* 앱디자인 */

  .app-text h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #F07B3F;
    margin: 5px 0 15px;
  }

  .app-text .meta {
    font-size: 1.0rem;
    color: #aaa;
    margin-bottom: 20px;
  }

  .tags span {
    border: 1px solid #aaa;
    padding: 2px 23px;
    margin-right: 8px;
    font-size: 0.9rem;
    border-radius: 20px;
    display: inline-block;
  }

  /* 디테일 */

  .panel-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 40px 00px;
    font-family: 'prestendardR';
  }

  .panel-number {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
    opacity: 0.9;
    transition: all 0.6s ease;
  }

  .panel-label {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 25px;
    opacity: 0.8;
    transition: all 0.6s ease;
    white-space: nowrap;
  }

  /* 카드 */

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: -205px;
  }

  .custom-nav-buttons {
    position: absolute;
    bottom: 19%;
    right: 100px;
    display: flex;
    gap: 10px;
  }

  .swiper-slide {
    padding: 0 15px;
    max-width: 200%;
    height: auto;
  }

  .swiper-slide img {
    width: 119%;
    object-fit: cover;
    /* margin: 43px; */
    background-position: 0 0;
    display: flex;
    margin: 0 15px;
    ;
    /* gap: 74px; */
  }

  .section-title-card {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: -195px;
    text-align: center;
    font-family: 'prestendardR';
  }

  /*팝업 */

  .popupbox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
    /* height: -50vh; */
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .popup-inner {
    width: 100%;
    height: 40vh;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-inner img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }

  .close-popup {
    position: absolute;
    top: 22%;
    right: 3%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #FFF;
    cursor: pointer;
  }

  /* 브랜딩 */

  .subtitle {
    font-size: 0.8rem;
    color: #222;
  }

  .bd-content {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    max-width: 90%;
    align-items: center;
  }

  .left-panel {
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }

  .right-panel {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }

  .scroll-container img {
    width: 100%;
    display: block;
    border-radius: 16px;
  }

  .section-title-brand {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}


/* 425 */

@media screen and (max-width: 425px) {


  .pink-banner {
    height: 30px;
  }

  .sliding-text {
    font-size: 1rem;
    padding-right: 50px;
  }

  header {
    position: fixed;
    flex-direction: column;
    align-items: flex-end;
    /* padding: 27px 94px 0px 0px; */
    z-index: 999;
  }

  .nav-menu {
    justify-content: center;
    align-items: center;
    padding: 35px;
    list-style: none;
    gap: 20px;
    font-family: 'prestendardR';
  }

  .nav-menu li button {
    color: #Fff;
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: 500;
    font-family: 'prestendardR';
  }

  .intro-section .title {
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .circle-expand {
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
  }

  .intro-two .container {
    flex-direction: column;
    padding: 20px;
  }

  .text-box h1 {
    font-size: 2.5rem;
  }

  .image-box {
    width: 100%;
  }

  .bottom-text {
    font-size: 0.9rem;
    font-family: 'bookkmjL';
    padding-top: 30px;
    padding-right: 20px;
    text-align: center;
    flex-direction: row;
    padding-top: 40px;
    line-height: 1.3;
    color: var(--main-color);
    font-weight: 600;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  /* 세번째 키워드 */

  .inline-pills {
    padding: 30px 16px;
  }

  .inline-pills .row {
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 0px;
    margin-bottom: 20px;
  }

  .inline-pills .word {
    font-size: clamp(9px, 6vw, 25px);
  }

  .inline-pills .pill {
    --w: 100%;
    --h: 50px;
  }

  .inline-pills .pill img {
    border-radius: 12px;
  }

  /* 코딩 */
  .text-block h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 150px;
    font-family: 'prestendardR';
  }

  /* 앱디자인 */

  .section-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 150px;
    font-family: 'prestendardR';
  }

  .app-text {
    max-width: 98%;
    font-size: 0.8rem;
  }

  .app-text .meta {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 20px;
  }


  .project-card {
    flex: 1 1 100%;
    background-color: #111;
    color: #fff;
    width: 56%;
    padding: 35px 30px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  }

  .project-card img {
    width: 100%;
    height: 350px;
    border-radius: 6px;
    margin: 10px 0;
  }

  /* 디테일 */

  .portfolio-section {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 10px;
  }

  .section-title-Detail {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .accordion-container {
    flex-direction: row;
    height: 300px;
    width: 100%;
  }

  .accordion-panel {
    height: 100%;
  }

  .panel-number {
    font-size: 3.5rem;
  }

  .panel-label {
    font-size: 0.9rem;
  }

  .panel-description {
    display: none;
  }

  .app-design-section {
    background-color: #222831;
    color: #fff;
    padding: 100px 22px;
    font-family: 'prestendardR';
  }

  /* 고탑 */

  .gotop {
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 30px;
    height: 30px;
    background-color: #333;
    display: none;
  }

  .gotop span {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    z-index: 99999;
  }
}



@media screen and (max-width: 375px) {
  .app-design-section {
    background-color: #222831;
    color: #fff;
    padding: 99px 22px;
    font-family: 'prestendardR';
  }
}